/* Nesting CSS - La Ruta del Bonsai*/
/* GRAL CSS RESET */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TIPOGRAFIAS */
/* COLORES */
/* LISTAS */
/* Maps - crear listas de estilos agrupados */
/* CSS HEADER */
body header {
  background-color: white;
  /* NAVIGATION */
}
body header .navbar-light {
  outline: none;
  color: orange;
  background-color: orange;
  /* Mobile - toggler */
}
body header .navbar-light .collapse .navbar-nav .nav-item .nav-link {
  padding: 0 10px;
  transition: 0.3 ease;
}
body header .navbar-light .collapse .navbar-nav .nav-item .nav-link i {
  font-size: 1.2rem;
  padding: 0.7px;
  font-weight: 500;
  transition: 0.3s ease;
}
body header .navbar-light .collapse .navbar-nav .nav-item .nav-link i:hover {
  color: orange;
  text-shadow: 0 1.5em 50px;
}
body header .navbar-light .collapse .navbar-nav .nav-item .nav-link i .active {
  color: orange;
  text-shadow: 0 1.5em 50px;
}
body header .navbar-light .collapse .navbar-nav .nav-item .nav-link i .active:hover {
  color: orange;
  text-shadow: 0 1.5em 50px;
}
body header .navbar-light .navbar-toggler {
  outline: none;
}
body header .navbar-light .navbar-toggler:hover {
  border: none;
  outline: none;
  background-color: orange;
}
@media only screen and (max-width: 991px) {
  body header .navbar-light #navbarNav {
    margin: 1em;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
  }
}
body header .navbar {
  font-size: 16px;
  font-weight: 500;
  color: orange;
}
body header .navbar .container-fluid .navbar-brand {
  /* Responsive LOGO */
}
@media only screen and (max-width: 991px) {
  body header .navbar .container-fluid .navbar-brand #header-logo {
    width: 15%;
  }
}
@media only screen and (max-width: 578px) {
  body header .navbar .container-fluid .navbar-brand #header-logo {
    display: none;
  }
}

/* COLORES */
/* BUTTONS */
body {
  /*MAIN BUTTONS */
  /*PRODUCTOS BUTTONS */
  /* PAGINA CONTACTO */
}
body .button {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
body .btn-outline {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .btn-outline:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
@media only screen and (max-width: 280px) {
  body .btn-outline {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: 1px solid lightgreen;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
    width: 8rem;
  }
}
body #sticky-button {
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
}
body .sticky-btn {
  position: fixed;
  background-color: orange;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
}
@media only screen and (max-width: 640px) {
  body .sticky-btn {
    display: none;
  }
}
body .sticky-btn:hover {
  position: fixed;
  background-color: green;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
  color: orange;
  text-shadow: 0 1.5em 50px;
  transition: 0.3s ease;
}

/* LISTAS */
/* Maps - crear listas de estilos agrupados */
/* Mixins - a diferencia de los extends puedo agregar un parametro vacio para dar un valor en el futuro */
/* MAIN */
main {
  /* CAROUSEL */
  /* SECTION INTRO */
  /* SECTION PRODUCTO */
  /*PAGINA NOSOTROS*/
  /*Pagina Tienda*/
}
main hr {
  width: 80px;
  height: 20px;
  background-color: orange;
}
main .hr-2 {
  width: 80px;
  height: 1px;
  background-color: green;
}
main .container {
  margin: 0 auto;
}
main .h2 {
  font-size: 4rem;
  font-weight: 200;
}
main .h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
main .carousel-item {
  background-position: top 0px center;
}
main .row {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex start;
}
main .product img {
  transition: 0.3s all;
}
main .product img:hover {
  opacity: 0.7;
}
main .vision-valores .vision-valores-box {
  /* heredar la extension */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5em;
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-valores-box {
    /* heredar la extension */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-valores-box {
    /* heredar la extension */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
main .vision-valores .vision-valores-img {
  margin-right: 40px;
}
main .vision-valores .vision-details {
  width: 50%;
  margin-right: 40px;
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-details {
    width: 100%;
    margin-right: 40px;
    padding-top: 5em;
  }
}
main .container-fluid {
  /*Cart Items*/
}
main .container-fluid table {
  width: 100%;
  border-collapse: collapse;
}
main .container-fluid table th {
  text-align: left;
  padding: 10px;
  color: #FFFFFF;
  background-color: green;
  font-weight: normal;
}
main .container-fluid table td {
  text-align: left;
  padding: auto;
}
main .container-fluid table td .cart-info {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  main .container-fluid table td .cart-info .cart-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 320px) {
  main .container-fluid table td .cart-info th {
    padding: 5px;
  }
  main .container-fluid table td .cart-info .cart-info .p-cart {
    display: none;
  }
}
main .container-fluid table td .cart-info .p-cart {
  font-weight: 500;
}
main .container-fluid table td input {
  text-align: center;
  width: 30%;
  height: 30px;
  padding: 0px;
}
main .container-fluid table td a {
  color: green;
  font-size: 1rem;
}
main .container-fluid table td img {
  min-width: 2em;
  max-height: 5em;
  border-radius: 80%;
}
main .container-fluid .total-price {
  margin: 1rem auto;
  border-top: 1px solid #89a095;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}
main .container-fluid .total-price table {
  margin: 1rem;
  width: 100%;
  max-width: 20rem;
}
main .container-fluid .total-price table td:last-child {
  text-align: right;
}
main .container-fluid .total-price table th:last-child {
  text-align: right;
}

.cart-page {
  margin: 80 auto;
}

/* COLORES */
/* LISTAS */
/* Maps - crear listas de estilos agrupados */
/*FOOTER*/
section .footer {
  height: fit-content;
  background-color: #89a095;
  margin: 0px;
  display: flex;
  justify-content: space space-around;
  flex-direction: column;
  align-items: center;
}
section .footer .p-footer {
  margin: 10px;
  padding: 20px;
  color: black;
  font-family: "Roboto", sans-serif;
}
section .footer b {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  border: black;
  margin: 0px;
}
section .footer ul li a .footer-icon {
  max-width: 48px;
  display: flex;
  justify-content: space-around;
}
section .footer ul li a i {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: lighter;
  text-align: left;
  color: #8f8f8f;
  padding: 5px;
}

/* BUTTONS */
body {
  /*MAIN BUTTONS */
  /*PRODUCTOS BUTTONS */
  /* PAGINA CONTACTO */
}
body .button {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
body .btn-outline {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .btn-outline:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
@media only screen and (max-width: 280px) {
  body .btn-outline {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: 1px solid lightgreen;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
    width: 8rem;
  }
}
body #sticky-button {
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
}
body .sticky-btn {
  position: fixed;
  background-color: orange;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
}
@media only screen and (max-width: 640px) {
  body .sticky-btn {
    display: none;
  }
}
body .sticky-btn:hover {
  position: fixed;
  background-color: green;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
  color: orange;
  text-shadow: 0 1.5em 50px;
  transition: 0.3s ease;
}

/* COLORES */
/* LISTAS */
/* Maps - crear listas de estilos agrupados */
/* Extends */
/* COLORES */
/* BUTTONS */
body {
  /*MAIN BUTTONS */
  /*PRODUCTOS BUTTONS */
  /* PAGINA CONTACTO */
}
body .button {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .button:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: none;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
body .btn-outline {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
}
body .btn-outline:hover {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  border: 1px solid lightgreen;
  background-color: orange;
  color: black;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease;
}
@media only screen and (max-width: 280px) {
  body .btn-outline {
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
    border: 1px solid lightgreen;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0;
    width: 8rem;
  }
}
body #sticky-button {
  color: black;
  padding: 10px 20px;
  border-radius: 4px;
}
body .sticky-btn {
  position: fixed;
  background-color: orange;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
}
@media only screen and (max-width: 640px) {
  body .sticky-btn {
    display: none;
  }
}
body .sticky-btn:hover {
  position: fixed;
  background-color: green;
  padding: 10px;
  bottom: 323px;
  right: 60px;
  border: none;
  font-family: sans-serif;
  color: orange;
  text-shadow: 0 1.5em 50px;
  transition: 0.3s ease;
}

/* LISTAS */
/* Maps - crear listas de estilos agrupados */
/* Mixins - a diferencia de los extends puedo agregar un parametro vacio para dar un valor en el futuro */
/* MAIN */
main {
  /* CAROUSEL */
  /* SECTION INTRO */
  /* SECTION PRODUCTO */
  /*PAGINA NOSOTROS*/
  /*Pagina Tienda*/
}
main hr {
  width: 80px;
  height: 20px;
  background-color: orange;
}
main .hr-2 {
  width: 80px;
  height: 1px;
  background-color: green;
}
main .container {
  margin: 0 auto;
}
main .h2 {
  font-size: 4rem;
  font-weight: 200;
}
main .h3 {
  font-size: 2rem;
  font-weight: 100;
}
main .h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
main .carousel-item {
  background-position: top 0px center;
}
main .row {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex start;
}
main .product img {
  transition: 0.3s all;
}
main .product img:hover {
  opacity: 0.7;
}
main .vision-valores .vision-valores-box {
  /* heredar la extension */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 5em;
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-valores-box {
    /* heredar la extension */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 50%;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-valores-box {
    /* heredar la extension */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
  }
}
main .vision-valores .vision-valores-img {
  margin-right: 40px;
}
main .vision-valores .vision-details {
  width: 50%;
  margin-right: 40px;
}
@media screen and (max-width: 991px) {
  main .vision-valores .vision-details {
    width: 100%;
    margin-right: 40px;
    padding-top: 5em;
  }
}
main .container-fluid {
  /*Cart Items*/
}
main .container-fluid table {
  width: 100%;
  border-collapse: collapse;
}
main .container-fluid table th {
  text-align: left;
  padding: 10px;
  color: #FFFFFF;
  background-color: green;
  font-weight: normal;
}
main .container-fluid table td {
  text-align: left;
  padding: auto;
}
main .container-fluid table td .cart-info {
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  main .container-fluid table td .cart-info .cart-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 320px) {
  main .container-fluid table td .cart-info th {
    padding: 5px;
  }
  main .container-fluid table td .cart-info .cart-info .p-cart {
    display: none;
  }
}
main .container-fluid table td .cart-info .p-cart {
  font-weight: 500;
}
main .container-fluid table td input {
  text-align: center;
  width: 30%;
  height: 30px;
  padding: 0px;
}
main .container-fluid table td a {
  color: green;
  font-size: 1rem;
}
main .container-fluid table td img {
  min-width: 2em;
  max-height: 5em;
  border-radius: 80%;
}
main .container-fluid .total-price {
  margin: 1rem auto;
  border-top: 1px solid #89a095;
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
}
main .container-fluid .total-price table {
  margin: 1rem;
  width: 100%;
  max-width: 20rem;
}
main .container-fluid .total-price table td:last-child {
  text-align: right;
}
main .container-fluid .total-price table th:last-child {
  text-align: right;
}

.cart-page {
  margin: 80 auto;
}

/*Paquete de propiedades que se crean con un PLACEHOLDER y las propiedades de CSS - % = placeholder */
main .carousel-item, main .vision-valores .vision-valores-img, main .vision-valores img {
  width: 100%;
}

/* Mixins - a diferencia de los extends puedo agregar un parametro vacio para dar un valor en el futuro */

/*# sourceMappingURL=style.css.map */
