/* Nesting CSS - La Ruta del Bonsai*/

/* GRAL CSS RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TIPOGRAFIAS */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



@import 'components/header';
@import 'components/main';
@import 'components/footer';
@import 'components/buttons';
@import 'base/variables';
@import 'base/listas';
@import 'base/maps';
@import 'base/extends';
@import 'base/mixins';
