/* BUTTONS */

body {

    /*MAIN BUTTONS */

    .button {
        font-family: nth($f-family, 4);
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: nth($colores,6);
        color: nth($colores,2);
        padding: 10px 20px;
        cursor: pointer;
    }

    .button:hover {
        font-family: nth($f-family, 4);
        font-size: 0.8rem;
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color:nth($colores,4);
        color: nth($colores,2);
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }


    /*PRODUCTOS BUTTONS */

    .btn-outline {
        font-family: nth($f-family, 4);
        font-size: nth($f-size, 1);
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: 1px solid nth($colores,6);
        color: nth($colores,2);
        padding: 10px 20px;
        cursor: pointer;
    }
    
    .btn-outline:hover {
        font-family: nth($f-family, 4);
        font-size: nth($f-size, 1);
        font-weight: 700;
        text-transform: uppercase;
        outline: none;
        border: 1px solid nth($colores,6);
        background-color: nth($colores,4);
        color: nth($colores,2);
        padding: 10px 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    @media only screen and (max-width: 280px) {
        .btn-outline {
            font-family: nth($f-family, 4);
            font-size: nth($f-size, 1);
            font-weight: 700;
            text-transform: uppercase;
            outline: none;
            border: 1px solid nth($colores,6);
            color: nth($colores,2);
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 0;
            width: 8rem;
        }
        }
    

    
    /* PAGINA CONTACTO */


            #sticky-button {
                font-family: nth($f-family, 4);
                color: nth($colores,2);
                padding: 10px 20px;
                border-radius: 4px;
              
            }
              
            .sticky-btn {
                position: fixed;
                background-color: nth($colores,4);
                padding: 10px;
                bottom: 323px;
                right: 60px;
                border: none;
                font-family: nth($f-family, 4);
            }

            @media only screen and (max-width:640px) {
                .sticky-btn {
                display:none;
                }    
            }

            .sticky-btn:hover {
                position: fixed;
                background-color: nth($colores,5);
                padding: 10px;
                bottom: 323px;
                right: 60px;
                border: none;
                font-family: nth($f-family, 4);
           
                color: nth($colores,4);
                text-shadow: 0 1.5em 50px;
                transition:0.3s ease;
            }



}