@import'../base/variables';
@import'../base/listas';
@import'../base/maps';


/*FOOTER*/


    
    section {

       
        
            .footer {
                height: fit-content;
                background-color: #89a095;
                margin:0px;
                display: flex;
                justify-content: space space-around;
                flex-direction: column;
                align-items: center;
             
            

                .p-footer {
                    margin: map-get($p-footer, margin-footer);
                    padding: map-get($p-footer, padding-footer);
                    color: map-get($p-footer, color-footer);
                    font-family: nth($f-family, 4);
                    
                
                }

                b {
                    font-family: nth($f-family, 4);
                    border:black;
                    margin: 0px;    
                
                }           

              
            ul {
            
                li {

                    a {

                        .footer-icon {
    
                            max-width: nth($f-size, 5);
                            display: flex;
                            justify-content: space-around;
 
                        }
                    
                        i {
    
                            font-family: nth($f-family, 4);
                            font-weight: lighter;
                            text-align: left;
                            color: rgb(143, 143, 143);
                            padding: 5px;
                        }
                    }    
    
                 }    
            
             }    
            
        }
    }

