
@import'../base/variables';
@import'../base/colores';
@import'../base/listas';


/* CSS HEADER */
    
    header { 

        /* NAVIGATION */
        
        nav {
                .navbar {
                    font-size: nth($f-size,2);
                    font-weight: 500;
                    color: nth($colores,4);
                    text-shadow: 0 1.5em 50px;
                }

                .navbar-light {
                    outline:none;
                    color: nth($colores,4);
                    background-color: nth($colores,4);
                    text-shadow: 0 1.5em 50px;
                }
            

                div {

                    a {

                        img {

                            /* Responsive LOGO */

                            @media only screen and (max-width:991px) {
                                #header-logo {
                                width:15%;
                                }     
                            }

                            @media only screen and (max-width:578px) {
                                #header-logo {
                                display:none;
                                
                                }
                            }
                        }
                    }
                }    
            
                /* Mobile - toggler */
            
                button {    
                    
                    .navbar-toggler {
                        outline:none;
                    }

                    .navbar-toggler:hover {
                        border: none;
                        outline:none;
                        background-color: nth($colores,4);
                        
                    }
                    
                }

            div {

                @media only screen and (max-width:991px) {
                    #navbarNav {
                    margin: 1em;
                    justify-content: flex-end;
                    align-items: flex-end;
                    text-align: center;
                    }
                }

                ul {

                
                    li {

                        a { 

                            .nav-link {
                                padding: 0 10px;
                                transition: 0.3 ease;
                            }
                
                            .nav-link:hover {
                                color: nth($colores,4);
                                text-shadow: 0 1.5em 50px;
                            }

                            .nav-link.active {
                                color: nth(colores,4);
                                text-shadow: 0 1.5em 50px;
                            }    
                            
                        }    

                    }
                }
            }
        }
    }