/* LISTAS */

$colores:
white,
black,
gray,
orange,
green,
lightgreen,
rgb(246, 255, 241);

$f-size:
0.75rem,
1rem,
1.25rem,
1.5rem,
2rem,
2.5rem,
3rem,
4.5rem;

$f-family:

Trebuchet,
Arial,
Helvetica,
'Roboto', sans-serif;


